.productCard {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .productCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
  }

  .productCard .textPart{
    transition: all 0.3s ease-in-out;
  }

  .productCard:hover .textPart{
    font-size: 18px;
  }


  .productCard > div:first-child {
    height: 300px; 
  }

  